.root {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
    border: 1px solid #7a7979;
    border-radius: .8rem;
    display: flex;
    cursor: pointer;
}

.root:hover {
    border-color: #022c2c26;
}

.selected {
    border: 2px solid #022c2c;
}

.selected:hover {
    border: 2px solid #022c2c;
}

.pool_data {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.id {
    padding: 1rem .6rem;
    background-color: #022c2c26;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    font-weight: 600;
    width: 15%;
}

.key, .value {
    display: block;
    font-size: .8rem;
    color: #7a7979;
}

.value {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}

.actionBtn {
    background-color: #022c2c;
    color: #f0ece7;
    font-weight: 500;
    padding: .5rem .8rem;
    border-radius: .2rem;
}
.actionBtn:first-of-type {
    margin-right: .5rem;
}

@media only screen and (max-width: 800px) {
    .pool_data {
        flex: 1 1 1;
    }
}

@media only screen and (max-width: 600px) {
    .pool_data {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: .5rem;
    }
    .pool_data_item {
        margin-right: 1rem;
    }
    .btnGroup {
        width: 100%;
        white-space: nowrap;
    }
    .pool_data_item:nth-child(2) {
        display: none;
    }
}