.root {
    margin-bottom: 2rem;
    width: 100%;
    border-bottom: 1px solid;
    border-color: #008080;
}
.tabs {
    padding: .4rem 1rem 0 0;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    margin-right: 2.5rem;
    font-size: 1.2rem;
    color: #7a7979;
}
.currentTab {
    border-bottom: 2px solid #022c2c;
    color: #008080;
}